.karve, .avis {
    width: 121px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    button {
        width: fit-content;
        align-self: center;
    }
}
.karve {
    border-radius: 50%;
}
.avis {
    border-radius: 10px;
}
.ganykla {
    width: 750px;
    height: 500px;
    border: 2px solid green;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.main {
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 20px;
}
.buttons {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}